.navbar {
  padding-top: 0.25rem !important; /* Reduce top padding */
  padding-bottom: 0.25rem !important; /* Reduce bottom padding */
}

.navbar-logo {
  height: 50px !important; /* Adjust logo height */
  width: 120px !important; /* Adjust logo width */
}